<section class="agregar">
  <div class="agregar__section">
    <h2 class="agregar__title">¡Agrega tu tarea de forma fácil!</h2>
    <ng-template *ngIf="loading; then loadingT; else form"></ng-template>
  </div>
</section>

<ng-template #loadingT>
  <div class="containerLoad">
    <app-loading></app-loading>
  </div>
</ng-template>

<ng-template #form>
  <form class="agregar__form" (ngSubmit)="onSubmit()">
    <label class="label__normal" for="date">
      <span class="agregar__span">Fecha</span>
      <input
        type="date"
        name="date"
        id="date"
        class="agregar__input"
        required
        [(ngModel)]="tarea.fecha"
      />
    </label>
    <label class="label__normal" for="name">
      <span class="agregar__span">Nombre Tarea</span>
      <input
        type="text"
        name="name"
        id="name"
        class="agregar__input"
        required
        [(ngModel)]="tarea.titulo"
      />
    </label>
    <label class="label__area" for="description">
      <span >Descripción</span>
      <textarea
        rows="5"
        cols="33"
        name="description"
        id="description"
        class="agregar__input"
        required
        [(ngModel)]="tarea.descripcion"
      ></textarea>
    </label>
    <button type="submit" class="agregar__btn">Añadir</button>
  </form>
</ng-template>
