.agregar {
  background-image: url(../../../../assets/images/bg-agregar.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0.1px;
}

.agregar__section {
  width: 600px;
  height: 470px;
  margin: 200px auto;
  border-radius: var(--border-radius);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.agregar__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--color-text);
}

form {
  width: 70%;
  margin: 50px auto;
}

.label__normal {
  display: block;
  margin: 15px 0;
}

.agregar__span {
  display: inline-block;
  width: 150px;
  color: var(--color-text);
  font-weight: 600;
  font-size: 1.2rem;
}

.label__area {
  display: flex;
  flex-direction: column;
  gap: 10px;

  span {
    color: var(--color-text);
    font-weight: 600;
    font-size: 1.2rem;
  }

  textarea {
    max-width: 420px;
    max-height: 100px;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    padding: 15px;
  }
}

input {
  border: none;
  padding: 5px;
  outline: none;
  border-radius: var(--border-radius);
  font-size: 1.2rem;
}

input[type="date"] {
  width: 173px;
}

.agregar__btn {
  margin-top: 25px;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--color-text);
  border-radius: var(--border-radius);
  font-weight: 600;
  font-size: 1.1rem;
  padding: 10px 25px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.agregar__btn:hover {
  background-color: var(--color-text);
  color: var(--primary-color);
}

.containerLoad {
  margin: 100px 200px;
}
