<section class="agregar">
  <div class="agregar__section">
    <h2 class="agregar__title">¡Agrega tu tarea de forma fácil!</h2>
     <form class="agregar__form" (ngSubmit)="onSubmit()">
      <label for="date">
        <span class="agregar__span">Fecha</span>
        <input
          type="date"
          name="date"
          id="date"
          class="agregar__input"
          [(ngModel)]="tarea.fecha"
        />
      </label>
      <label for="name">
        <span class="agregar__span">Nombre Tarea</span>
        <input
          type="text"
          name="name"
          id="name"
          class="agregar__input"
          [(ngModel)]="tarea.titulo"
        />
      </label>
      <label for="description">
        <span class="agregar__span">Descripción</span>
        <input
          type="text"
          name="description"
          id="description"
          class="agregar__input"
          [(ngModel)]="tarea.descripcion"
        />
      </label>
      <button type="submit" class="agregar__btn">Añadir</button>
    </form>
  </div>
</section>
