.banner {
  height: 55px;
  background-color: var(--primary-color);
  border-radius: 0 0 25px 25px;
  cursor: pointer;

  .banner__title {
    text-align: center;
    font-size: 2.5rem;
    line-height: 55px;
    color: var(--color-text);
  }
}
