<section class="view">
  <article class="view__article">
    <h1 class="view__title">Recuerda tus tareas de formas más eficiente.</h1>
    <p class="view__paragraph">
      Organiza tus días con el asistente de tareas para que no se te pasen la
      prioridad de tus deberes.
    </p>
    <a routerLink="/home/ver" class="view__cta">Ver tareas</a>
  </article>
  <article class="view__card">
    <div class="view__item view__item--left">
      <h2 class="view__itemText">Limpiar Casa</h2>
    </div>
    <div class="view__item view__item--right">
      <h2 class="view__itemText">Organizar habitación</h2>
    </div>
    <div class="view__item view__item--top">
      <h2 class="view__itemText">Ir de compras</h2>
    </div>
    <div class="view__item view__item--bottom">
      <h2 class="view__itemText">Hacer trabajos</h2>
    </div>
  </article>
</section>
