/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');
:root {
  --primary-color: #022859;
  --color-text: #f2f2f2;
  --border-radius: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #e8e8e8;
}

h1 {
  margin: 0;
}
