<section class="list" *ngFor="let tarea of listadoTareas">
  <div class="container">
    <span class="list__hour"> {{ tarea.fecha | date }} </span>
    <div class="list__plan"  >
      <h3 class="list__title" [title]="tarea.titulo">{{ tarea.titulo }}</h3>
      <p class="list__description" [title]="tarea.descripcion" >{{ tarea.descripcion }}</p>
    </div>
    <div class="list__actions">
      <span class="material-symbols-outlined list__btn" title="Completado">
        done
      </span>
      <span class="material-symbols-outlined list__btn" title="Eliminar">
        delete
      </span>
    </div>
  </div>
</section>
